#header{ 
  .logo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      background-position: center right;
      background-repeat: no-repeat;
    }
  }

}
